.box{
  background-color: green;
  height: 300px;
}
.box1{
  margin: 0 20px;
  border: 8px dotted;
  height: 200px;
}
.text1{
  color: red;
  font-size: 35px;
  margin: 40px 20px;
}
.text2{
  color: darkgreen;
  font-size: 35px;
  margin: 40px 20px;
}
.text3{
  color: purple;
  font-size: 35px;
  margin: 45px 0;
}
